@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
  padding-top: 80px;
}

header .navbar-brand {
  font-size: 1.4em;
  font-weight: 200;
  font-family: "Audiowide", cursive;
}

.markdownx .markdownx-editor {
  border-style: none solid solid solid;
  width: 100%;
  margin-bottom: 25px;
}

.page-header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.page-header h1 {
  margin: 0;
  font-weight: 100;
  font-size: 2em;
}

.no-data {
  text-align: center;
  padding: 1em 0;
}

#notifications {
  font-size: 1.5em;
  padding: 13px;
  color: #dddddd;
}

#notifications.new-notifications {
  color: #428bca;
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  font-size: 14px;
}

.popover {
  max-width: 350px;
  width: 350px;
}

.popover ul {
  padding: 0;
  margin: 0;
}

.popover ul li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: 0.4em 0;
}

.popover ul li:last-child {
  border-bottom: none;
}

.popover ul li .user-picture {
  width: 45px;
  float: left;
}

.popover ul li p {
  font-size: 0.9em;
  padding: 0 0 0 0.6em;
  margin-left: 45px;
  margin-bottom: 0;
}

.container {
  font-family: "Montserrat", sans-serif;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 4px;
  margin: 8vh auto;
  padding: 12px 24px;
}

.card-auction-content {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

table {
  line-height: 1.25;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: none;
  border-bottom: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding: 20px;
}

.form-group {
  margin-bottom: 0;
}

/* check-cards */

.documents-container {
  display: flex;
  margin-bottom: 15px;
}

.documents-container legend {
  font-size: 1rem;
}

.checkcard {
  margin-right: 5px;
  width: 32%;
}

.checkcard i {
  opacity: 0;
}

.checkcard input {
  display: none;
}

.checkcard label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 96px;
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  background: white;
  cursor: pointer;
  transition: box-shadow 0.15s linear, transform 0.15s linear;
}
.checkcard label:hover {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.15s linear, transform 0.15s linear;
}

.checkcard span.spec {
  display: block;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 4px;
  font-size: 9px;
}

.checkcard i {
  margin-right: 4px;
  font-size: 9px;
}

.checkcard h2 {
  font-size: 12px;
}

body {
  background-color: #343f4d;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'><g fill='%23e0dcea' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
  align-items: stretch;
  justify-content: center;
  width: 600px;
  padding: 40px 60px;
  border-radius: 6px;
  /* background: rgba(255, 255, 255, 0.5); */
}
.form-container input[type="submit"] {
  margin-top: 10px;
}

.file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 60px;
}

.file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 70px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}

.file-upload-wrapper:before {
  content: "Upload";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 60px;
  background: #4daf7c;
  color: #fff;
  font-weight: 700;
  z-index: 25;
  font-size: 16px;
  line-height: 60px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
}

.file-upload-wrapper:after {
  content: attr(data-text);
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 10px 15px;
  display: block;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 20;
  height: 40px;
  line-height: 40px;
  color: #999;
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
  box-sizing: content-box;
}
