{% extends 'base.html' %}
{% load static %}

{% block title %}Аутентификация{% endblock title %}

{% block head %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock head %}

{% block content %}
<div class="limiter">
  {% if error %}
  <div class="alert">
    <div class="alert__content" role="alert">
        <span class="alert__icon">
            <svg class="alert__svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#333333">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
            </svg>
        </span>
        <span class="alert__text">{{ error }}</span>
    </div>
  </div>
  {% endif %}
  <div class="login">
    <div class="login__title">Личный кабинет</div>
    <form class="login__form" method="post" x-data="form()" x-init="init()" @focusout="change" @input="change" @submit="submit($event)" novalidate>
      {% csrf_token %}
      <div class="login__formfield" x-bind:class="{'login__formfield-invalid':username.errorMessage}">
        <label class="login__formfield__label" for="phone">Телефон *</label>
        <input name="username" id="phone" class="login__formfield__input login__phone__input" type="text" autocomplete="off" title="" data-rules='["required", "phone"]' data-server-errors='[]' />
      </div> 
      <div class="login__formfield" x-bind:class="{'login__formfield-invalid':password.errorMessage}">
        <label class="login__formfield__label" for="password">Пароль *</label>
        <input name="password" id="password" class="login__formfield__input login__password__input" type="password" autocomplete="off" title="" data-rules='["required", "minimum:6"]' data-server-errors='[]' /> 
      </div> 
      <button class="login__button" type="submit"> Войти &raquo; </button> 
    </form>
    <div class="login__links">
      <a class="login__link" href="{% url 'users:signup' %}">Регистрация</a>
      <a class="login__link" href="{% url 'users:password_reset' %}">Забыли пароль?</a>
    </div>
  </div>

  <div hidden class="spinner" id="spinner"></div>
  <div hidden class="overlay" id="overlay"></div>

</div>
{% endblock content %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/gh/mattkingshott/iodine@3/dist/iodine.min.js"></script>
<script src="{% static 'js/login.js' %}"></script>
{% endblock javascript %}