{% extends "base.html" %}
{% load static %}

{% block title %} Сброс пароля {% endblock title %}
{% block head %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock head %}

{% block content %}
<div class="limiter">
<div class="reset__done" id="reset-wrapper">
    <div class="reset__done__header">Сброс пароля</div>
    <div class="reset__done__main">
        <div class="reset__done__alert">
            <span class="reset__done__alert__span">
                <svg fill="currentColor" viewBox="0 0 20 20" class="reset__done__svg">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
            </span>
        </div>
        <div class="reset__done__content">Вам отправлено письмо</div>
        <div class="reset__done__description">Для восстановления пароля необходимо перейти по ссылке из письма</div>
    </div>
    <p class="reset__done__footer">При возникновении проблем, пожалуйста, свяжитесь с нами</p>
</div>
</div>
{% endblock content %}
