{% extends "base.html" %}
{% load static %}

{% block title %} Сброс пароля {% endblock title %}
{% block head %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock head %}

{% block content %}
<div class="limiter">
    <div class="reset">
        <div class="reset__title">Сброс пароля</div>
        <form  class="reset__form" method="post">
            {% csrf_token %}
            <div class="reset__formfield">
                <label for="email" class="reset__label">E-mail *</label>
                <input id="email" name="email" autocomplete="off" tabindex="0" type="email" class="reset__input">
            </div>
            <input class="reset__button" type="submit" name="Отправить" value="Отправить" id="submit-id-">
        </form>
        <p class="reset__footer">При возникновении проблем, пожалуйста, свяжитесь с нами</p>
    </div>
</div>
{% endblock content %}