{% extends 'base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock head %}

{% block content %}
<div class="limiter">
  
  <div class="signup">
    <p class="signup__title">Регистрация</p>
    <form class="signup__form" action="" x-data="form()" x-init="init()" @focusout="change" @input="change" @submit="submit" method="post" enctype="multipart/form-data" novalidate> 
      {% csrf_token %}
      {% for field in form %}
        {% if field.errors %}
        {% if field.name == 'phone' %} 
          <div class="alert alert-form">
            <div class="alert__content" role="alert">
                <span class="alert__icon">
                    <svg class="alert__svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#333333">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                    </svg>
                </span>
                <span class="alert__text">Телефонный номер уже зарегистрирован</span>
            </div>
          </div>
        {% endif %}
        {% endif %}
      {% endfor %}
      <div class="signup__main"> 
        <div class="signup__account"> 
          <fieldset class="signup__account__fieldset"> 
            <legend>Аккаунт</legend> 
            <div class="signup__account__name">
              <div class="signup__formfield" x-bind:class="{'signup__formfield-invalid':last_name.errorMessage}" > 
                <label class="signup__formfield__label" for="last_name">Фамилия *</label> 
                <input 
                  class="signup__formfield__input" id="last_name" name="last_name" autocomplete="off" type="text" title="" data-rules='["required"]' data-server-errors='[]'
                > 
              </div>
              <div class="signup__formfield" x-bind:class="{'signup__formfield-invalid':first_name.errorMessage}" >
                <label class="signup__formfield__label" for="first_name">Имя *</label>
                <input 
                  class="signup__formfield__input" id="first_name" name="first_name" autocomplete="off" type="text" title="" 
                  data-rules='["required"]' data-server-errors='[]'
                >
              </div>
            </div>
            <div class="signup__formfield" x-bind:class="{'signup__formfield-invalid':email.errorMessage}">
              <label class="signup__formfield__label" for="email">E-mail *</label>
              <input 
                class="signup__formfield__input" id="email" name="email" autocomplete="off" type="email" title="" 
                data-rules='["required", "email"]' data-server-errors='[]'
              >
            </div>
            <div class="signup__formfield" x-bind:class="{'signup__formfield-invalid':password.errorMessage}"> 
              <label class="signup__formfield__label" for="password">Пароль *</label> 
              <input 
                class="signup__formfield__input" id="password" name="password1" autocomplete="off" type="password" title=""
                data-rules='["required", "minimum:6"]' data-server-errors='[]'
              >
            </div>
            <div class="signup__formfield" x-bind:class="{'signup__formfield-invalid':phone.errorMessage}" >
              <label class="signup__formfield__label" for="phone">Телефон *</label>
              <input 
                class="signup__formfield__input" id="phone" name="phone" autocomplete="off" type="text" title=""
                data-rules='["required", "phone"]' data-server-errors='[]'
              >
            </div> 
          </fieldset>
        </div>
        <div class="signup__company">
          <fieldset class="signup__company__fieldset"> 
            <legend>Организация</legend>
            <div class="signup__formfield" x-bind:class="{'signup__formfield-invalid':company_name.errorMessage}">
              <label class="signup__formfield__label" for="company_name">Название организации *</label>
              <input 
                class="signup__formfield__input" id="company_name" name="company_name" autocomplete="off" type="text" title=""
                data-rules='["required", "minimum:2"]' data-server-errors='[]'
              >
            </div>
            <div class="signup__company__formfield">
              <label class="signup__company__label" for="id_company_type">Тип организации *</label>
              <select class="signup__company__select" name="company_type" id="id_company_type" title="" required>
                <option value="B" selected>Банк</option>
                <option value="M">Микрофинансовая организация</option>
                <option value="C">Коллекторское агенство</option>
              </select>
              <div class="signup__company__icon">
                <svg class="signup__company__svg" viewBox="0 0 20 20">
                  <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                </svg>
              </div>
            </div>
            <legend>Документы</legend>
            <a href="#" class="signup__documents__link">Перечень необходимых документов</a>
            <label class="signup__documents__label" x-bind:class="{'signup__documents__label-invalid':documents.errorMessage}"> 
              <svg class="signup__documents__svg" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" /> 
              </svg> 
              <span class="signup__documents__span">Загрузить архив</span>
              <input
                type='file' name="documents" class="signup__documents__input" title=""
                data-rules='["required"]' data-server-errors='[]'
              >
            </label>
          </fieldset>
        </div>
      </div>
      <div class="signup__footer"> 
        <hr class="signup__footer__hr">
        <button type="submit" class="signup__button">Отправить заявку &raquo</button> 
        <p class="signup__footer__login"> Есть аккаунт? <a class="signup__footer__link" href="/users/login/">Войти</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/gh/mattkingshott/iodine@3/dist/iodine.min.js"></script>
<script src="{% static 'js/signup.js' %}"></script>
{% endblock javascript %}