{% extends 'base.html' %}
{% load static %}

{% block title %}Аутентификация{% endblock title %}

{% block head %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock head %}

{% block content %}
<div class="limiter">
    {% if error %}
    <div class="alert">
      <div class="alert__content" role="alert">
          <span class="alert__icon">
              <svg class="alert__svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#333333">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
              </svg>
          </span>
          <span class="alert__text">{{ error }}</span>
      </div>
    </div>
    {% endif %}
  <div class="modal modal-active">
    <div class="modal__content">
      <p class="modal__heading">Верификация</p>
      <p class="modal__text">Вам отправлено СМС-сообщение. Введите код</p>
      <div class="modal__input">
        <input type="tel" maxlength="1" pattern="[0-9]" class="modal__code">
        <input type="tel" maxlength="1" pattern="[0-9]" class="modal__code">
        <input type="tel" maxlength="1" pattern="[0-9]" class="modal__code">
        <input type="tel" maxlength="1" pattern="[0-9]" class="modal__code">
        <input type="tel" maxlength="1" pattern="[0-9]" class="modal__code">
      </div>
      <form method="POST" class="modal__form">
          {% csrf_token %}
          <input class="modal__code__accumulator" name="code" type="text" hidden>
          <div class="modal__button_group">
            <button class="modal__button_confirm" type="submit" disabled>Войти</button>
            <a class="modal__button_retry" href="{% url 'users:login' %}">Назад</a>
          </div>
      </form>
    </div>
  </div>

  <div class="login">
    <div class="login__title">Личный кабинет</div>
    <div class="login__form">
      <div class="login__phone">
        <svg class="login__svg" fill="none" stroke="#444444" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
        </svg>
        <input name="username" class="login__phone__input" type="text" placeholder="Телефон" autocomplete="off" required />
      </div>
      <div class="login__password">
        <svg class="login__svg" fill="none" stroke="#444444" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"></path>
        </svg>
        <input name="password" class="login__password__input" type="password" minlength="6" maxlength="40" placeholder="Пароль" autocomplete="off" required /> 
      </div>
      <button class="login__submit"> Войти &raquo; </button> 
    </div>
    <input type="button" class="login__button" value="Получить код &raquo;" />
    <div class="login__links">
      <a class="login__link" href="{% url 'users:signup' %}">Регистрация</a>
      <a class="login__link" href="{% url 'users:password_reset' %}">Забыли пароль?</a>
    </div>
  </div>

  <div hidden class="spinner" id="spinner"></div>
  <div class="overlay" id="overlay"></div>

</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/verify.js' %}"></script>
{% endblock javascript %}