{% load static humanize %}

<div class="card card-small" id={{ card.id }}>
    <img class="card__logo card__logo-small" src="{{ card.user.company_logo.url }}">
    <div class="card__content">
        <table class="card__table">
            <tbody>
                <tr class="card__table__row">
                    <th class="card__table__heading" scope="row">ОСЗ</th>
                    <td class="card__table__data" data-label="ОСЗ">{{ card.osz|intcomma }} &#8381;</td>
                </tr>
                <tr class="card__table__row">
                    <th class="card__table__heading" scope="row">Общий Долг</th>
                    <td class="card__table__data" data-label="Общий долг">{{ card.od|intcomma }} &#8381;</td>
                </tr>
                <tr class="card__table__row">
                    <th class="card__table__heading" scope="row">Средняя Просрочка</th>
                    <td class="card__table__data" data-label="Средняя просрочка">{{ card.average_delay|intcomma }} дней
                    </td>
                </tr>
                <tr class="card__table__row">
                    <th class="card__table__heading" scope="row">Стартовая Ставка</th>
                    <td class="card__table__data" data-label="Стартовая цена">{{ card.start_price|intcomma }} &#8381;
                    </td>
                </tr>
                <tr class="card__table__row">
                    <th class="card__table__heading" scope="row">Регион</th>
                    <td class="card__table__data" data-label="Регион">{{ card.region }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
