<div class="card__icons">
    <div class="card__icons__top">
        {% if card.closed_auction is False %}
        <div aria-label="Открытый аукцион" data-balloon-pos="up">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#f3f3f0" width="24" height="24"><path d="M15.5 12a3.5 3.5 0 11-7 0 3.5 3.5 0 017 0z"></path><path fill-rule="evenodd" d="M12 3.5c-3.432 0-6.125 1.534-8.054 3.24C2.02 8.445.814 10.352.33 11.202a1.6 1.6 0 000 1.598c.484.85 1.69 2.758 3.616 4.46C5.876 18.966 8.568 20.5 12 20.5c3.432 0 6.125-1.534 8.054-3.24 1.926-1.704 3.132-3.611 3.616-4.461a1.6 1.6 0 000-1.598c-.484-.85-1.69-2.757-3.616-4.46C18.124 5.034 15.432 3.5 12 3.5zM1.633 11.945c.441-.774 1.551-2.528 3.307-4.08C6.69 6.314 9.045 5 12 5c2.955 0 5.309 1.315 7.06 2.864 1.756 1.553 2.866 3.307 3.307 4.08a.111.111 0 01.017.056.111.111 0 01-.017.056c-.441.774-1.551 2.527-3.307 4.08C17.31 17.685 14.955 19 12 19c-2.955 0-5.309-1.315-7.06-2.864-1.756-1.553-2.866-3.306-3.307-4.08A.11.11 0 011.616 12a.11.11 0 01.017-.055z"></path></svg>
        </div>
        {% endif %}
        <div aria-label="Документы проверены" data-balloon-pos="up">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#f3f3f0" width="24" height="24"><path d="M3.5 3.75a.25.25 0 01.25-.25h13.5a.25.25 0 01.25.25v10a.75.75 0 001.5 0v-10A1.75 1.75 0 0017.25 2H3.75A1.75 1.75 0 002 3.75v16.5c0 .966.784 1.75 1.75 1.75h7a.75.75 0 000-1.5h-7a.25.25 0 01-.25-.25V3.75z"></path><path d="M6.25 7a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm-.75 4.75a.75.75 0 01.75-.75h4.5a.75.75 0 010 1.5h-4.5a.75.75 0 01-.75-.75zm16.28 4.53a.75.75 0 10-1.06-1.06l-4.97 4.97-1.97-1.97a.75.75 0 10-1.06 1.06l2.5 2.5a.75.75 0 001.06 0l5.5-5.5z"></path></svg>
        </div>
        <div aria-label="Надежный продавец" data-balloon-pos="up">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#f3f3f0" width="24" height="24"><path d="M16.53 9.78a.75.75 0 00-1.06-1.06L11 13.19l-1.97-1.97a.75.75 0 00-1.06 1.06l2.5 2.5a.75.75 0 001.06 0l5-5z"></path><path fill-rule="evenodd" d="M12.54.637a1.75 1.75 0 00-1.08 0L3.21 3.312A1.75 1.75 0 002 4.976V10c0 6.19 3.77 10.705 9.401 12.83.386.145.812.145 1.198 0C18.229 20.704 22 16.19 22 10V4.976c0-.759-.49-1.43-1.21-1.664L12.54.637zm-.617 1.426a.25.25 0 01.154 0l8.25 2.676a.25.25 0 01.173.237V10c0 5.461-3.28 9.483-8.43 11.426a.2.2 0 01-.14 0C6.78 19.483 3.5 15.46 3.5 10V4.976c0-.108.069-.203.173-.237l8.25-2.676z"></path></svg>  
        </div>
    </div>
    {% if card.status == '1_A' %}
    <div class="card__icons__middle favorite" aria-label="В избранное" data-balloon-pos="up">
        {% if user in card.bookmarks.all %}
        <svg class="clicked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#f3f3f0" width="64" height="64">
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#f3f3f0" width="64" height="64">
        {% endif %}
            <path fill-rule="evenodd" d="M12 .25a.75.75 0 01.673.418l3.058 6.197 6.839.994a.75.75 0 01.415 1.279l-4.948 4.823 1.168 6.811a.75.75 0 01-1.088.791L12 18.347l-6.117 3.216a.75.75 0 01-1.088-.79l1.168-6.812-4.948-4.823a.75.75 0 01.416-1.28l6.838-.993L11.328.668A.75.75 0 0112 .25zm0 2.445L9.44 7.882a.75.75 0 01-.565.41l-5.725.832 4.143 4.038a.75.75 0 01.215.664l-.978 5.702 5.121-2.692a.75.75 0 01.698 0l5.12 2.692-.977-5.702a.75.75 0 01.215-.664l4.143-4.038-5.725-.831a.75.75 0 01-.565-.41L12 2.694z"></path>
            <text x="50%" y="52%" dominant-baseline="middle" text-anchor="middle" font-size="7px">{{ card.bookmarks.count }}</text>
        </svg>
    </div>
    {% elif card.status == '2_S' and card.closed_auction == False %}
    <div class="card__icons__middle" id="bid" aria-label="Сделать ставку" data-balloon-pos="up">
        <a href="{% url 'lots:bidding' card.id %}">
            <svg height="64" width="64" viewBox="0 0 450 480" xmlns="http://www.w3.org/2000/svg">
                <path d="m255 300v197c0 8.402344-6.597656 15-15 15h-30c-8.402344 0-15-6.597656-15-15v-197zm0 0" fill="#a8d3d8"/>
                <path d="m255 300v197c0 8.402344-6.597656 15-15 15h-15v-212zm0 0" fill="#7ca1b1"/>
                <path d="m450 15v270c0 8.402344-6.597656 15-15 15h-420c-8.402344 0-15-6.597656-15-15v-270c0-8.402344 6.597656-15 15-15h420c8.402344 0 15 6.597656 15 15zm0 0" fill="crimson"/>
                <path d="m450 15v270c0 8.402344-6.597656 15-15 15h-210v-300h210c8.402344 0 15 6.597656 15 15zm0 0" fill="crimson"/>
                <path d="m240 75v120c0 8.402344-6.597656 15-15 15s-15-6.597656-15-15v-120c0-8.402344 6.597656-15 15-15s15 6.597656 15 15zm0 0" fill="#deecf1"/>
                <path d="m180 105c0-24.8125-20.1875-45-45-45h-30c-8.289062 0-15 6.710938-15 15v120c0 8.289062 6.710938 15 15 15h30c24.8125 0 45-20.1875 45-45 0-11.566406-4.507812-22.019531-11.703125-30 7.195313-7.980469 11.703125-18.433594 11.703125-30zm-60-15h15c8.277344 0 15 6.722656 15 15s-6.722656 15-15 15h-15zm15 90h-15v-30h15c8.277344 0 15 6.722656 15 15s-6.722656 15-15 15zm0 0" fill="#deecf1"/>
                <path d="m315 210h-30c-8.289062 0-15-6.710938-15-15v-120c0-8.289062 6.710938-15 15-15h30c24.8125 0 45 20.1875 45 45v60c0 24.8125-20.1875 45-45 45zm-15-30h15c8.277344 0 15-6.722656 15-15v-60c0-8.277344-6.722656-15-15-15h-15zm0 0" fill="#a8d3d8"/>
                <path d="m225 210v-150c8.402344 0 15 6.597656 15 15v120c0 8.402344-6.597656 15-15 15zm0 0" fill="#a8d3d8"/>
                <path d="m315 270h-180c-8.402344 0-15 6.597656-15 15v30c0 8.402344 6.597656 15 15 15h180c8.402344 0 15-6.597656 15-15v-30c0-8.402344-6.597656-15-15-15zm0 0" fill="#deecf1"/>
                <path d="m330 285v30c0 8.402344-6.597656 15-15 15h-90v-60h90c8.402344 0 15 6.597656 15 15zm0 0" fill="#a8d3d8"/>
            </svg>
        </a>
    </div>
    {% elif card.status == '2_S' and card.closed_auction == True %}
    <div class="card__icons__middle" id="bid" aria-label="Аукцион закрытых предложений" data-balloon-pos="top">
        <span style="margin-top: 0.25rem;">
            <svg height="48" width="48" fill="none" stroke="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"></path>
            </svg>
        </span>  
    </div>
    <p class="card__online__data card__online__count">
        Ставок: <strong>{{ card.count_bids }}</strong>
    </p>      
    {% endif %}
    <div class="card__icons__bottom">
      <a href="{% url 'lots:details' card.id %}">Подробнее</a>
    </div>
</div>