{% load static humanize %}

{% if card.status == '1_A' %}
<div class="card" id={{ card.id }}>
  <div class="card__date">
    <p class="card__date__month">{{ card.get_month }}</p>
    <p class="card__date__day">{{ card.timestamp_start|date:"d" }}</p>
  </div>
  <img class="card__logo" src="{{ card.user.company_logo.url }}">
  <div class="card__content">
    <div class="card__title"> {{ card.user.company_name}} </div>
    <table class="card__table">
        <tbody>
          <tr class="card__table__row">
            <th class="card__table__heading" scope="row">ОСЗ</th>
            <td class="card__table__data" data-label="ОСЗ">{{ card.osz|intcomma }} &#8381;</td>
          </tr>
          <tr class="card__table__row">
            <th class="card__table__heading" scope="row">Общий Долг</th>
            <td class="card__table__data" data-label="Общий долг">{{ card.od|intcomma }} &#8381;</td>
          </tr>
          <tr class="card__table__row">
            <th class="card__table__heading" scope="row">Средняя Просрочка</th>
            <td class="card__table__data" data-label="Средняя просрочка">{{ card.average_delay|intcomma }} дней</td>
          </tr>
          <tr class="card__table__row">
            <th class="card__table__heading" scope="row">Стартовая Ставка</th>
            <td class="card__table__data" data-label="Стартовая цена">{{ card.start_price|intcomma }} &#8381;</td>
          </tr>
          <tr class="card__table__row">
            <th class="card__table__heading" scope="row">Регион</th>
            <td class="card__table__data" data-label="Регион">{{ card.region }}</td>
          </tr>
        </tbody>
      </table>
  </div>
  {% include '_base_components/_card_icons.html' %}
</div>

{% elif card.status == '2_S' and card.closed_auction == False %}
<div class="card card-opened" id={{ card.id }}>
  <div class="card__online card__online-opened" data-id={{ card.id }}>
    <p class="card__online__heading">Аукцион идёт!</p>
    <div class="countdown" x-data="timer(new Date('{{ card.timestamp_finish.isoformat }}'))" x-init="init();">
      <div class="countdown__block">
          <span class="countdown__title">дней</span>
          <div class="countdown__number" x-text="time().days1"></div>
          <div class="countdown__number" x-text="time().days2"></div>
      </div>
      <div class="countdown__block">
          <span class="countdown__title">часов</span>
          <div class="countdown__number" x-text="time().hours1"></div>
          <div class="countdown__number" x-text="time().hours2"></div>
      </div>
      <div class="countdown__block">
          <span class="countdown__title">минут</span>
          <div class="countdown__number" x-text="time().minutes1"></div>
          <div class="countdown__number" x-text="time().minutes2"></div>
      </div>
    </div>
    {% if card.count_bids != 0 %}
    <p class="card__online__data card__online__count">Сделано ставок: <strong>{{ card.count_bids }}</strong></p>
    <p class="card__online__data card__online__last">Текущая: <strong>{{ card.get_last_bid|intcomma }}</strong></p>
    {% else %}
    <p class="card__online__data card__online__count"></p>
    <p class="card__online__data card__online__last"></p>
    <p class="card__online__data card__online__data-cta">Сделайте первую ставку!</p>
    {% endif %}
  </div>

  <div class="card__content card__content-started">
    <div class="card__title">{{ card.user.company_name}}</div>
    <table class="card__table">
      <tbody>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">ОСЗ</th>
          <td class="card__table__data" data-label="ОСЗ">{{ card.osz|intcomma }} &#8381;</td>
        </tr>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">Общий Долг</th>
          <td class="card__table__data" data-label="Общий долг">{{ card.od|intcomma }} &#8381;</td>
        </tr>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">Средняя Просрочка</th>
          <td class="card__table__data" data-label="Средняя просрочка">{{ card.average_delay|intcomma }} дней</td>
        </tr>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">Стартовая Ставка</th>
          <td class="card__table__data" data-label="Стартовая цена">{{ card.start_price|intcomma }} &#8381;</td>
        </tr>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">Регион</th>
          <td class="card__table__data" data-label="Регион">{{ card.region }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% include '_base_components/_card_icons.html' %}
</div>


{% elif card.status == '2_S' and card.closed_auction == True %}
<div class="card card-closed" id={{ card.id }}>
  <div class="card__online card__online-closed" data-id={{ card.id }}>
    <p class="card__online__heading">Аукцион идёт!</p>
    <div class="countdown" x-data="timer(new Date('{{ card.timestamp_finish.isoformat }}'))" x-init="init();">
      <div class="countdown__block">
          <span class="countdown__title">дней</span>
          <div class="countdown__number" x-text="time().days1"></div>
          <div class="countdown__number" x-text="time().days2"></div>
      </div>
      <div class="countdown__block">
          <span class="countdown__title">часов</span>
          <div class="countdown__number" x-text="time().hours1"></div>
          <div class="countdown__number" x-text="time().hours2"></div>
      </div>
      <div class="countdown__block">
          <span class="countdown__title">минут</span>
          <div class="countdown__number" x-text="time().minutes1"></div>
          <div class="countdown__number" x-text="time().minutes2"></div>
      </div>
    </div>

    <!--  новое поле  -->
    {% if not user.is_authenticated %}
    <div class="card__online__div-closed card__online__div-disabled">
      <input class="card__online__input-closed card__online__input-disabled" type="text"/>
      <div class="card__online__button-closed card__online__button-disabled">
        <svg width="24px" height="24px" fill="none" stroke="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
      </div>
    </div>
    {% elif user == card.user %}
    <div class="card__online__div-closed card__online__div-disabled">
      <input class="card__online__input-closed card__online__input-disabled" type="text"/>
      <div class="card__online__button-closed card__online__button-disabled">
        <svg width="24px" height="24px" fill="none" stroke="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
      </div>
    </div>
    {% elif not user.company_type in card.allowed_company_types %}
    <div class="card__online__div-closed card__online__div-disabled">
      <p class="card__online__alert">Вы не допущены к торгам</p>
    </div>
    {% else %}
    <div class="card__online__div-closed">
      <input class="card__online__input-closed" value="{{card.start_price|intcomma}}" />
      <div class="card__online__button-closed">
        <svg width="24px" height="24px" fill="none" stroke="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
      </div>
    </div>
    {% endif %}

  </div>

  <div class="card__content card__content-started">
    <div class="card__title">{{ card.user.company_name}}</div>
    <table class="card__table">
      <tbody>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">ОСЗ</th>
          <td class="card__table__data" data-label="ОСЗ">{{ card.osz|intcomma }} &#8381;</td>
        </tr>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">Общий Долг</th>
          <td class="card__table__data" data-label="Общий долг">{{ card.od|intcomma }} &#8381;</td>
        </tr>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">Средняя Просрочка</th>
          <td class="card__table__data" data-label="Средняя просрочка">{{ card.average_delay|intcomma }} дней</td>
        </tr>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">Стартовая Ставка</th>
          <td class="card__table__data" data-label="Стартовая цена">{{ card.start_price|intcomma }} &#8381;</td>
        </tr>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">Регион</th>
          <td class="card__table__data" data-label="Регион">{{ card.region }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% include '_base_components/_card_icons.html' %}
</div>


{% elif card.status == '3_F' %}
<div class="card card-finished" id={{ card.id }}>
  <div class="card__summary">
      <p class="card__summary__heading">Аукцион завершен</p>
      <p class="card__summary__data">Сделано ставок: <strong>{{ card.count_bids }}</strong></p>
      <p class="card__summary__data">Итоговая ставка: <strong>{{ card.get_last_bid|intcomma }}</strong></p>
  </div>
  <div class="card__content card__content-finished">
    <div class="card__title">
      {{ card.user.company_name}}
    </div>
    <table class="card__table">
      <tbody>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">ОСЗ</th>
          <td class="card__table__data" data-label="ОСЗ">{{ card.osz|intcomma }} &#8381;</td>
        </tr>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">Общий Долг</th>
          <td class="card__table__data" data-label="Общий долг">{{ card.od|intcomma }} &#8381;</td>
        </tr>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">Средняя Просрочка</th>
          <td class="card__table__data" data-label="Средняя просрочка">{{ card.average_delay|intcomma }} дней</td>
        </tr>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">Стартовая Ставка</th>
          <td class="card__table__data" data-label="Стартовая цена">{{ card.start_price|intcomma }} &#8381;</td>
        </tr>
        <tr class="card__table__row">
          <th class="card__table__heading" scope="row">Регион</th>
          <td class="card__table__data" data-label="Регион">{{ card.region }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endif %}
