<div class="border-t border-gray-200">
      <div class="details__row details__row-odd">
        <dt class="details__row__title mr-6"> Полное название организации</dt>
        <dd class="details__row__data"> {{ card.user.company_name }} </dd>
      </div>
      
      <div class="details__row details__row-even">
        <dt class="details__row__title"> Об организации </dt>
        <dd class="details__row__data"> 
          {{ card.user.company_about|default:"Организация не предоставила информацию" }} 
        </dd>
      </div>
      
      <div class="details__row details__row-odd">
        <dt class="details__row__title"> Тип аукциона </dt>
        <dd class="details__row__data">
          {% if card.closed_auction %} Аукцион закрытых предложений, 1 тур {% else %} Аукцион на повышение, 1 тур {% endif %}
        </dd>
      </div>
      
      <div class="details__row details__row-even">
          <dt class="details__row__title"> Начало и завершение торгов </dt>
          <dd class="details__row__data">
            {{ card.timestamp_start|date:"d/m/Y H:i" }} - {{ card.timestamp_finish|date:"d/m/Y H:i"  }}
          </dd>
      </div>
      
      <div class="details__row details__row-odd">
        <dt class="details__row__title">
          Допущены к торгам
        </dt>
        <dd class="details__row__data">
          {% if card.accepted_banks %} <p> - банки</p> {% endif %}
          {% if card.accepted_mfo %} <p> - микрофинансовые огранизации</p> {% endif %}
          {% if card.accepted_collection_agencies %} <p> - коллекторские агентства</p> {% endif %}
        </dd>
      </div>
      
      <div class="details__row details__row-even">
        <dt class="details__row__title"> Документы в наличии </dt>
        <dd class="details__row__data">
          <ul class="details__documents__list">

            {% if card.doc_register %}
            <li class="details__document">
              <div class="details__document__content">
                <svg class="details__document__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                </svg>
                <span class="details__documents__name">Реестр</span>
              </div>
              <a href="{{ card.doc_register.url }}" class="details__document__link">Скачать</a>
            </li>
            {% endif %}

            {% if card.doc_example_assignment_agreement %}
            <li class="details__document">
              <div class="details__document__content">
                <svg class="details__document__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                </svg>
                <span class="details__document__name">Пример договора цессии</span>
              </div>
              <a href="{{ card.doc_example_assignment_agreement.url }}" class="details__document__link">Скачать</a>
            </li>
            {% endif %}

            {% if card.doc_impersonal_loan_agreement %}
            <li class="details__document">
              <div class="details__document__content">
                <svg class="details__document__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                </svg>
                <span class="details__document__name">Пример договора займа</span>
              </div>
              <a href="{{ card.doc_impersonal_loan_agreement.url }}" class="details__document__link">Скачать</a>
            </li>
            {% endif %}

            {% if card.doc_personal_account_statement %}
            <li class="details__document">
              <div class="details__document__content">
                <svg class="details__document__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                </svg>
                <span class="details__document__name">Пример выписки по лицевому счету</span>
              </div>
              <a href="{{ card.doc_personal_account_statement.url }}" class="details__document__link">Скачать</a>
            </li>
            {% endif %}

          </ul>
        </dd>
      </div>
  </div>
