{% load static %}

<nav class="navbar">
  <div class="navbar__left">
    <div class="navbar__logo">
      <img class="navbar__logo__image" src="{% static 'img/logo-white.svg' %}" alt="delay logo">
      <img class="navbar__logo__image-small" src="{% static 'img/favicon.png' %}" alt="delay logo">
    </div>
    <div class="navbar__links">
      <a href="{% url 'lots:relevant' %}" class="navbar__link navbar__link-active">Торги</a>
      <a href="#" class="navbar__link">Поддержка</a>
    </div>
  </div>

  <div class="navbar__right">
    {% if user.is_authenticated %}
    <button class="navbar__notify">
      <svg class="navbar__notify__svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
    </button>

    <div x-data="{ open: false }" class="navbar__user">
      <button class="navbar__user__button" @click.prevent="open = !open" id="user-menu" aria-haspopup="true">
          <span class="navbar__user__name">{{ request.user.first_name }}</span>
          <svg class="navbar__user__icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
      </button>
      <div class="navbar__user__dropdown" x-show="open" @click.away="open = false" :class="{ 'hidden': open === false }" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
        <a href="{% url 'users:logout' %}" class="navbar__user__item" role="menuitem">Выйти</a>
      </div>
    </div>
    {% else %}
    <a href="lots:login" class="navbar__link">Вход</a>
    <a href="lots:signup" class="navbar__link">Регистрация</a>
    {% endif %}
  </div>
</nav>

{% block javascript %}{% endblock %}