{% extends 'base.html' %} {% load static humanize %} {% block title %}Ставки{% endblock %}
{% block head %}
<link href="{% static 'css/lots.css' %}" rel="stylesheet" />
<link href="{% static 'css/bidding.css' %}" rel="stylesheet" />
{% endblock head %} {% block content %}
<div hidden id="overlay" class="overlay"></div>
<div hidden id="spinner" class="spinner"></div>
{% include '../_base_components/_user_navbar.html' %}
<div class="grid grid-bidding">
    <div class="bidding__heading">
        <div class="bidding__heading__left">
            <div class="bidding__title">
                <div class="bidding__title__lot">
                    <span class="bidding__title__id">Аукцион #{{ card.id }}</span>
                    <span class="bidding__dot">
                        <svg class="bidding__dot__icon" width="10" height="10"><circle cx="5" cy="5" r="5" fill="currentColor"></circle></svg>
                    </span>
                </div>
                <span class="bidding__title__company">ООО "{{ card.user.company_name }}"</span>
            </div>
        </div>
        <div class="countdown" x-data="timer(new Date('{{ card.timestamp_finish.isoformat }}'))" x-init="init();">
            <div class="countdown__heading"></div>
            <div class="countdown__data flex">
                <div class="countdown__block">
                    <span class="countdown__title">дней</span>
                    <div class="countdown__number" x-text="time().days"></div>
                </div>
                <div class="countdown__block">
                    <span class="countdown__title">часов</span>
                    <div class="countdown__number" x-text="time().hours1"></div>
                    <div class="countdown__number" x-text="time().hours2"></div>
                </div>
                <div class="countdown__block">
                    <span class="countdown__title">минут</span>
                    <div class="countdown__number" x-text="time().minutes1"></div>
                    <div class="countdown__number" x-text="time().minutes2"></div>
                </div>
                <div class="countdown__block">
                  <span class="countdown__title">секунд</span>
                  <div class="countdown__number" x-text="time().seconds1"></div>
                  <div class="countdown__number" x-text="time().seconds2"></div>
              </div>

            </div>
        </div>
        <div class="bidding__alert bidding__alert-hidden">
            <div class="bidding__alert__content" role="alert">
                <span class="bidding__alert__icon">
                    <svg class="bidding__alert__svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#333333">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                    </svg>
                </span>
                <span class="bidding__alert__text"></span>
            </div>
        </div>
    </div>

    <div class="bidding__main">
        <section class="bidding__messages"></section>
        <section class="bidding__sidebar" x-data="{open: false}" x-cloak>
            <div class="bidding__sidebar__content" :class="{ 'bidding__sidebar__content-active': open}" x-show="open">
                <p class="bidding__sidebar__title"> Информация об аукционе </p>
                {% include '_base_components/_lot_details_table.html' %}
            </div>
            <button class="bidding__sidebar__button" :class="{ 'border border-l-0': open }" role="button" @click="open = !open" title="Информация о лоте">
                <svg class="bidding__sidebar__button__icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
            </button>
        </section>
    </div>

    <div class="bidding__footer">
    {% if role == 'bidder' %} 
        <div class="bidding__ui">
          <input class="bidding__ui__input" type="radio" id="bid25" name="bid" />
          <label for="bid25" class="bidding__ui__label">25 000</label>
        </div>
        <div class="bidding__ui">
          <input class="bidding__ui__input" type="radio" id="bid50" name="bid" />
          <label for="bid50" class="bidding__ui__label">50 000</label>
        </div>
        <div class="bidding__ui">
          <input class="bidding__ui__input" type="radio" id="bid100" name="bid" />
          <label for="bid100" class="bidding__ui__label">100 000</label>
        </div>      
        <button class="bidding__ui__button" type="button" id="bid-submit" disabled>Сделать ставку!</button>
    {% elif role == 'author' %}
        <p class="bidding__footer__text">Вы не можете участвовать в собственных торгах</p>
    {% else %}
        <p class="bidding__footer__text">К сожалению, вы не можете участвовать в данных торгах</p>
    {% endif %}
    </div>
</div>
{{ role|json_script:"user-role" }} 
{{ room_name|json_script:"room-name" }} 
{{ card.id|json_script:"card-id" }} 
{{ request.user.phone|json_script:"user-phone" }}
{{ card.start_price|json_script:"start-price" }} 
{% endblock content %} 

{% block javascript %}<script src="{% static 'js/bidding.js' %}"></script>{% endblock javascript %}
