{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/seller_auction_document.css' %}" />
<style>
  .form-container {
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    align-items: stretch;
    justify-content: center;
    width: 600px;
    padding: 40px 60px;
    border-radius: 6px;
    background: rgba(255,255,255,0.5);
  }
  .form-container input[type="submit"] {
    margin-top: 10px;
  }

</style>
{% endblock head %}

{% block content %}
  <div class="form-container">
    <!-- {% crispy form %} -->
  </div>
{% endblock content %}


{% block javascript %}
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous">
</script>

<script>
$("form")
	.attr( "enctype", "multipart/form-data" )
	.attr( "encoding", "multipart/form-data" )

$("form").on("change", ".file-upload-field", function(){ 
  $(this).parent(".file-upload-wrapper").attr("data-text", $(this).val().replace(/.*(\/|\\)/, '') );
});
</script>

<script>
  
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}


const form = document.querySelector('form')

form.addEventListener('submit', function(e) {
  
  e.preventDefault();
  
  let formData = new FormData();
  let fileField = document.querySelector('input[type=file]')
  formData.set('file', fileField.files[0])

  let url = 'http://localhost:8000/seller/api/create-auction/';

  fetch(url, {
    method: 'POST',
    headers: new Headers({
      'X-CSRFToken': getCookie('csrftoken'),
      'X-Requested-With': 'XMLHttpRequest',
    }),
    body: formData
  })
    .then(response => response.json())
    .then(data => console.log(data));
})

</script>

{% endblock javascript %}