{% extends 'base.html' %}
{% load static humanize %}

{% block title %}Информация об аукционе{% endblock %}

{% block head %}
<link href="{% static 'css/lots.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
{% include '../_base_components/_user_navbar.html' %}
<div class="grid grid-details">
  <section class="details__infographics">
  {% include '../_base_components/_card-small.html' %}
  </section>
  <section class="details__content">
    <div class="details__content__heading">
      <h3 class="details__content__title"> Аукцион #{{ card.id }} </h3>
      <a href="{% url 'lots:charts' card.id %}" class="details__link details__link-analysis">
        <svg class="details__link__svg" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path>
        </svg>
        Аналитика портфеля
      </a>
    </div>
    {% include '_base_components/_lot_details_table.html' %}        
  </section>

</div>
{{ card.id|json_script:"card-id" }}
{% endblock content %}

{% block javascript %}{% endblock javascript %}
