{% extends 'base.html' %}
{% load static humanize %}

{% block title %}Информация об аукционе{% endblock %}

{% block head %} <link href="{% static './css/lots.css' %}" rel="stylesheet"> {% endblock head %}

{% block content %}
<div hidden id="overlay" class="overlay"></div>
<div hidden id="spinner" class="spinner"></div>
{% include '../_base_components/_user_navbar.html' %}
<div class="grid grid-analysis">

    <a href="{% url 'lots:details' card.id %}" class="datatable__back__link datatable__back__link-mobile">
        <svg class="datatable__back__icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path>
        </svg>
        К странице информации
    </a>

    <div class="datatable" x-data="datatables()" x-init="init()" x-cloak>
        <div class="datatable__ui">
            <div class="datatable__filter">
                <button class="datatable__filter__button" @click.prevent="open = !open">
                    <span class="block">Filter</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="datatable__filter__icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                        <polyline points="6 9 12 15 18 9" />
                    </svg>
                </button>
                <div class="datatable__filter__items" x-show="open" @click.away="open = false">
                    <template x-for="heading in headings">
                        <label class="datatable__filter__item">
                            <input class="datatable__filter__checkbox" type="checkbox" checked @click="toggleColumn(heading.key)">
                            <div class="datatable__filter__value" x-text="heading.value"></div>
                        </label>
                    </template>
                </div>
            </div>
            <a href="{% url 'lots:details' card.id %}" class="datatable__back__link">
                <svg class="datatable__back__icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path>
                </svg>
                К странице информации
            </a>
        </div>
        <div class="datatable__content scrollbar scrollbar-datatable">
            <table class="datatable__table">
                <thead>
                    <tr class="text-left">
                        <template x-for="heading in headings">
                            <th class="datatable__table__heading" x-text="heading.value" :x-ref="heading.key" :class="{ [heading.key]: true }"></th>
                        </template>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="col in cols" :key="col">
                        <tr>
                            <td class="datatable__column region"><span class="datatable__column__text" x-text="col.region"></span></td>
                            <td class="datatable__column age"><span class="datatable__column__text" x-text="col.age"></span></td>
                            <td class="datatable__column sex"><span class="datatable__column__text" x-text="col.sex"></span></td>
                            <td class="datatable__column sumOfLoan"><span class="datatable__column__text" x-text="col.sumOfLoan"></span></td>
                            <td class="datatable__column osz"><span class="datatable__column__text" x-text="col.osz"></span></td>
                            <td class="datatable__column od"><span class="datatable__column__text" x-text="col.od"></span></td>
                            <td class="datatable__column delayPeriod"><span class="datatable__column__text" x-text="col.delayPeriod"></span></td>
                            <td class="datatable__column lastPayment"><span class="datatable__column__text" x-text="col.lastPayment"></span></td>
                            <td class="datatable__column judgeAct"><span class="datatable__column__text" x-text="col.judgeAct"></span></td>
                            <td class="datatable__column id"><span class="datatable__column__text" x-text="col.id"></span></td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>

    <div class="analysis__plots">
        <div class="analysis__plot analysis__plot-2 osz-plot "></div>
        <div class="analysis__plot analysis__plot-2 delay-plot"></div>
        <div class="analysis__plot analysis__plot-3 sex-plot"></div>
        <div class="analysis__plot analysis__plot-3 region-plot"></div>
        <div class="analysis__plot analysis__plot-3 age-plot"></div>
    </div>

</div>
{{ card.id|json_script:"card-id" }}

{% endblock content %}


{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'js/auction_analysis.js' %}"></script>
{% endblock javascript %}
