{% extends 'base.html' %}
{% load static humanize %}

{% block title %}Все торги{% endblock %}
{% block head %} <link href="{% static 'css/lots.css' %}" rel="stylesheet"> {% endblock head %}

{% block content %}
{% include '../_base_components/_user_navbar.html' %}
<div class="grid-lots">
  
  <div class="tabs">
    <a href="{% url 'lots:relevant' %}" class="tabs__item {% if active == 'relevant' %} tabs__item-active {% endif %}">
      Актуальные {% if active == 'relevant' %} &middot {% endif %}
    </a>
    <a href="{% url 'lots:current' %}" class="tabs__item {% if active == 'current' %} tabs__item-active {% endif %}">
      Идут торги {% if active == 'current' %} &middot {% endif %}
    </a>
    <a href="{% url 'lots:all' %}" class="tabs__item {% if active == 'all' %} tabs__item-active {% endif %}">
      Все торги {% if active == 'all' %} &middot {% endif %}
    </a>
  </div>
  <div class="cards scrollbar">
    {% for card in data %}
      {% include "_base_components/_card.html" with card=card %}
    {% empty %}
      {% if active == "current" %}
      <div class="cards__alert">В данный момент торги не проводятся. Ознакомьтесь с предстоящими торгами!</div>
      {% elif active == "relevant" %}
      <div class="cards__alert">В данный момент на платформе нет актуальных для вас торгов</div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div id="msgbox-area" class="msgbox-area"></div>


{% endblock content %}

{% block javascript %}
<script src="https://unpkg.com/element-closest"></script>
<script src="{% static 'js/lots.js' %}"></script>
{% endblock javascript %}
