@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap'); */

:root {
  --balloon-border-radius: 2px;
	--balloon-color: rgba(16, 16, 16, 0.95);
	--balloon-text-color: #fff;
	--balloon-font-size: 12px;
	--balloon-move: 4px;
  --rounded: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --text-2xl: 1.5rem;
  --text-xl: 1.25rem;
  --text-lg: 1.125rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
  --red-400: rgb(248,113,113);
  --green-400: rgb(52,211,153);
  --gray-100: #f7fafc;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: 'Fraunces', 'Cormorant Garamond', 'Cormorant', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select { text-transform: none; }

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner { border-style: none; padding: 0; }
:-moz-focusring { outline: 1px dotted ButtonText; }
:-moz-ui-invalid { box-shadow: none; }

legend { padding: 0; }

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p { margin: 0; }

button {
  background-color: transparent;
  background-image: none;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


body {
  font-family: inherit;
  line-height: inherit;
}

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

hr { border-top-width: 1px; }
img { border-style: solid; }
textarea { resize: vertical; }

input::placeholder, textarea::placeholder {
  color: #9ca3af;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
 }

button, [role="button"] {
  cursor: pointer;
}

table { border-collapse: collapse; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a { color: inherit; text-decoration: inherit; }

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

body { 
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'><g fill='%23e0dcea' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); 
    /* font-weight: 500;   */
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

.hidden {
  display: none;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    background-color: var(--gray-800);
    opacity: 0.8;
    z-index: 30;
    background-color: #60564d;
}

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}


.spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

label {
    display: block;
    margin: 0;
}
  
button {
    outline: none !important;
    border: none;
    background: transparent;
}
  
button:hover {
    cursor: pointer;
}

input, a:focus, a:active {
	outline: none !important;
}

/* navbar */

.navbar {
  position: relative;
  height: 4rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2e2e3c;
  box-shadow: var(--shadow-lg);
}

.navbar__logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0.25rem;
}

.navbar__logo__image {
  display: none;
  height: 3rem;
  width: auto;
}

.navbar__logo__image-small {
  height: 32px;
  width: auto;
}

.navbar__left {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 1 1 0%;
}

.navbar__right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.navbar__notify {
  padding: 0.25rem;
  border-radius: 50%;
  color: var(--gray-400);
  background-color: var(--gray-900);
}

.navbar__notify__svg {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar__notify:hover {
  color: white;
}

.navbar__notify:focus {
  outline: none;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
  --tw-ring-offset-color: #1f2937;
  --tw-ring-offset-width: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}

.navbar__links {
  display: flex;
  margin-left: 1.5rem;
}

.navbar__link {
  padding: 0.5rem 0.75rem;
  font-size: var(--text-sm);
  color: var(--gray-300);
  border-radius: var(--rounded-md);
  /* font-medium */
}

.navbar__link:hover {
  background-color: var(--gray-700);
  color: white;
}

.navbar__link-active {
  background-color: var(--gray-900);
  color: white;
}

.navbar__user {
  position: relative;
  margin-left: 0.75rem;
}

.navbar__user__icon {
  height: 1.25rem;
  width: 1.25rem;
  color: var(--gray-400);
}

.navbar__user__button {
  display: flex;
  font-size: var(--text-sm);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  background-color: var(--gray-900);
  align-items: center;
  justify-content: center;
}

.navbar__user__button:focus {
  outline: none;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
  --tw-ring-offset-color: #1f2937;
  --tw-ring-offset-width: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));

}

.navbar__user__dropdown {
  position: absolute;
  transform-origin: top right;
  right: 0;
  margin-top: 0.5rem;
  width: 12rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: white;
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-lg);
  z-index: 50;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(0, 0, 0, var(--tw-ring-opacity));
  --tw-ring-opacity: 0.05;

}

.navbar__user__item {
  display: block;
  padding: 0.5rem 1rem;
  font-size: var(--text-sm);
  color: var(--gray-700);
}

.navbar__user__item:hover {
  background-color: var(--gray-100);
}

.navbar__user__name {
  color: white;
  font-size: var(--text-sm);
  border-radius: var(--rounded-md);
  font-weight: 500;
  margin-right: 0.5rem;
}

@media(min-width: 640px) {
  .navbar {
    padding: 0 1.75rem;
    margin-top: 0.5rem;
    border-radius: var(--rounded);
  }
  .navbar__right {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin-left: 1.5rem;
    padding-right: 0;
  }
  .navbar__logo__image {
    display: block;
  }
  .navbar__logo__image-small {
    display: none;
  }
}


/* tabs */


/* balloon.css */

button[aria-label][data-balloon-pos] {
	overflow: visible
}

[aria-label][data-balloon-pos] {
	position: relative;
	cursor: pointer
}

[aria-label][data-balloon-pos]:after {
	opacity: 0;
	pointer-events: none;
	transition: all 0.18s ease-out 0.18s;
	text-indent: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: normal;
	font-style: normal;
	text-shadow: none;
	font-size: var(--balloon-font-size);
	background: var(--balloon-color);
	border-radius: 2px;
	color: var(--balloon-text-color);
	border-radius: var(--balloon-border-radius);
	content: attr(aria-label);
	padding: .5em 1em;
	position: absolute;
	white-space: nowrap;
	z-index: 10
}

[aria-label][data-balloon-pos]:before {
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: var(--balloon-color);
	opacity: 0;
	pointer-events: none;
	transition: all 0.18s ease-out 0.18s;
	content: "";
	position: absolute;
	z-index: 10
}

[aria-label][data-balloon-pos]:hover:before,
[aria-label][data-balloon-pos]:hover:after,
[aria-label][data-balloon-pos][data-balloon-visible]:before,
[aria-label][data-balloon-pos][data-balloon-visible]:after,
[aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before,
[aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
	opacity: 1;
	pointer-events: none
}

[aria-label][data-balloon-pos].font-awesome:after {
	font-family: FontAwesome, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

[aria-label][data-balloon-pos][data-balloon-break]:after {
	white-space: pre
}

[aria-label][data-balloon-pos][data-balloon-break][data-balloon-length]:after {
	white-space: pre-line;
	word-break: break-word
}

[aria-label][data-balloon-pos][data-balloon-blunt]:before,
[aria-label][data-balloon-pos][data-balloon-blunt]:after {
	transition: none
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:after {
	transform: translate(-50%, 0)
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:before {
	transform: translate(-50%, 0)
}


[aria-label][data-balloon-pos][data-balloon-pos*="-right"]:after {
	right: 0
}

[aria-label][data-balloon-pos][data-balloon-pos*="-right"]:before {
	right: 5px
}

[aria-label][data-balloon-pos][data-balloon-pos*="-right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos*="-right"][data-balloon-visible]:after {
	transform: translate(0, 0)
}

[aria-label][data-balloon-pos][data-balloon-pos*="-right"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos*="-right"][data-balloon-visible]:before {
	transform: translate(0, 0)
}

[aria-label][data-balloon-pos][data-balloon-pos^="up"]:before,
[aria-label][data-balloon-pos][data-balloon-pos^="up"]:after {
	bottom: 100%;
	transform-origin: top;
	transform: translate(0, var(--balloon-move))
}

[aria-label][data-balloon-pos][data-balloon-pos^="up"]:after {
	margin-bottom: 10px
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:before,
[aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
	left: 50%;
	transform: translate(-50%, var(--balloon-move))
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:after {
	transform: translate(0, -50%)
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:before {
	transform: translate(0, -50%)
}


[aria-label][data-balloon-pos][data-balloon-pos="right"]:after,
[aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
	left: 100%;
	top: 50%;
	transform: translate(calc(var(--balloon-move) * -1), -50%)
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:after {
	margin-left: 10px
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-right-color: var(--balloon-color)
}

[aria-label][data-balloon-pos][data-balloon-length]:after {
	white-space: normal
}

[aria-label][data-balloon-pos][data-balloon-length="small"]:after {
	width: 80px
}

[aria-label][data-balloon-pos][data-balloon-length="medium"]:after {
	width: 150px
}

[aria-label][data-balloon-pos][data-balloon-length="large"]:after {
	width: 260px
}

[aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
	width: 380px
}

@media screen and (max-width: 768px) {
	[aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
		width: 90vw
	}
}

[aria-label][data-balloon-pos][data-balloon-length="fit"]:after {
	width: 100%
}

/* scroll */

.scrollbar {
  float: left;
  height: 100%;
  /* width: 65px; */
  overflow-y: scroll;
}

.scrollbar-datatable {
  margin-bottom: 0;
}

.force-overflow {
  min-height: 450px;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: white;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.scrollbar-datatable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: white;
}

.scrollbar-datatable::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

.scrollbar-datatable::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #555;
}


.limiter {
  min-height: 100vh;
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


/* error */

.error {
  background: white;
  padding: 2rem;
  border-radius: var(--rounded-md);
}

.error__heading {
  margin-bottom: 1.5rem;
  font-size: var(--text-2xl);
  font-weight: bold;
}

.error__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(243, 167, 167);
  padding: 1.25rem;
  border-radius: var(--rounded);
  border-bottom-width: 2px;
  border-color: rgb(209, 139, 139);
}

.error__svg {
  height: 2rem;
  width: 2rem;
}

.error__text {
  color: var(--gray-900);
  margin-left: 1rem;
  font-size: var(--text-lg);
  font-weight: 600;
}

.error__link {
  font-size: var(--text-md);
  margin-left: 1rem;
  color: var(--gray-900);
  text-decoration: underline;
}

/* alert */

.msgbox-area {
  max-height: 100%;
  position: fixed;
  bottom: 15px;
  left: 20px;
  right: 20px;
}
.msgbox-area .msgbox-box {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 18px 20px;
  margin: 0 0 15px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 12px;
  box-shadow: var(--shadow-lg);
  transition: opacity 300ms ease-in;
}
.msgbox-area .msgbox-box.msgbox-box-hide {
  opacity: 0;
}
.msgbox-area .msgbox-box:last-child {
  margin: 0;
}
.msgbox-area .msgbox-content {
  flex-shrink: 1;
}
.msgbox-area .msgbox-close {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 0 20px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  transition: text-shadow 225ms ease-out;
}
.msgbox-area .msgbox-close:hover {
  text-shadow: 0 0 3px #efefef;
}

.alert-area {
  font-size: 16px;
}

@media (max-width: 580px) {
  .msgbox-area {
    left: auto;
    right: 30px;
    width: fit-content;
  }
}