body {
  font-family: 'Cormorant Garamond', 'Cormorant', serif;
}


/* countdown */

.countdown {
  position: absolute;
  left: calc(50% - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16rem;
}

.countdown__data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown__block {
  margin-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.countdown__block:last-child {
  margin-right: 0;
}

.countdown__title {
  flex: 1 0 100%;
  margin-bottom: 2px;
  font-size: 0.9rem;
  color: var(--gray-900);
  text-align: center;
}

.countdown__number {
  display: flex;
  height: 26px;
  flex: 1 0 auto;
  margin-right: 6px;
  background-color: #fff;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  font-size: 1rem;
  font-weight: bold;
  color: var(--gray-900);
}

.countdown__number:last-child {
  margin-right: 0;
}

/* bidding */

.bidding__heading {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--gray-400);
}

.bidding__heading__left {
  display: flex;
  align-items: center;
  margin-left: 1rem;  /* space-x-4 */
}

.bidding__title {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
}

.bidding__title__lot {
  display: flex;
  align-items: center;
  font-size: var(--font-2xl);
  margin-top: 0.25rem;
}

.bidding__title__id {
  margin-right: 0.75rem;
  color: var(--gray-700);
}

.bidding__title__company {
  color: var(--gray-600);
  font-size: var(--text-md);
}

.bidding__dot {
  color: rgb(16,185,129);
}

.bidding__dot__icon {
  /*  */
}

.bidding__alert {
  display: block;
  text-align: center;
  margin-right: 2.5rem;
  transition: all 0.5s ease-in-out;
}


.bidding__alert-hidden {
  display: none;
}

.bidding__alert__content {
  display: flex;
  align-items: center;
  color: var(--gray-700);
  padding: 0.5rem;
  line-height: 1;
  border-width: 1px;

  border-radius: 9999px;
  display: inline-flex;
}

.bidding__alert__icon {
  display: flex;
  border-radius: 9999px;
  text-transform: uppercase;
  padding: 0.25rem;
  font-size: var(--text-sm); /* text-xs */
  font-weight: bold;
  margin-right: 0.75rem;
  background-color: rgb(252,211,77); /* yellow-300 */
}

.bidding__alert__svg {
  height: 1.5rem;
  width: 1.5rem;
}

.bidding__alert__text {
  margin-right: 0.5rem;
  text-align: left;
  font-weight: 600;
  flex: 1 1 auto;
}

.bidding__no_bids {
  display: inline-flex;
  border-width: 1px;
  box-shadow: var(--shadow-md);
  color: var(--gray-600);
  border-radius: var(--rounded-md);
  padding: 1.5rem;
  font-size: var(--text-xl);
  align-self: center; 
  font-weight: 600;
  /* border */
}

.bidding__main {
  display:flex;
  min-height: 65vh;
  height: 65vh;
}

.bidding__timeline {
  position: absolute;
  left: 50%;
  height: 97%;
  border: 2px solid var(--gray-100);
}

.bidding__messages {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: safe flex-end;
  padding: 0.75rem 8rem;
  align-items: flex-end;
  /* height: 100%; */
  overflow-y: auto;
  flex: 1 1 0%;
}

.bidding__sidebar {
  position: relative;
  display: flex;
  height: 100%;
  align-self: flex-end;
}

.bidding__sidebar__content {
  display: none;
  position: absolute;
  top: 0;
  left: -770px;
  width: 770px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem 1rem;
  z-index: 30;
  background-color: white;
  border: 1px solid var(--gray-300); /* border */
  border-right-width: 0;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

.bidding__sidebar__content-active {
  display: flex;
}

.bidding__sidebar__title {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  color: var(--gray-600);
  font-size: var(--font-xl);
  font-weight: 600;
}

.bidding__sidebar__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  height: 100%;
  background-color: var(--gray-100);
  color: var(--gray-900);
}

.bidding__sidebar__button:hover {
  background-color: var(--gray-300);
}

.bidding__sidebar__button__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.bidding__footer {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--gray-400);
}

.bidding__footer__text {
  font-size: var(--text-md);
}

.bidding__ui {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--rounded-lg);
  border-width: 1px;
  width: 7rem;
  height: 2.5rem;
  margin-right: 1rem;
  box-shadow: 7px 7px 15px rgba(2, 28, 53, 0.1);
  font-size: 1.2rem;

  height: 50px;
  width: 130px;
  position: relative;
}

.bidding__ui__input {
  position: absolute;
  display: inline-block;
  width: 7rem;
  height: 2.5rem;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  outline: none;

  -webkit-appearance: none;
  appearance: none;
}

.bidding__ui__input:before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #f9fafd;
  border: 1px solid #e2e6f3;
  border-radius: 50%;
  top: 10px;
  right: 12px;
}
  
.bidding__ui__input:after {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border-radius: 50%;
  top: 18px;
  right: 20px;
}
  
.bidding__ui__input:hover {
  border: 1px solid grey;
}
  
.bidding__ui__input:checked {
  border: 1px solid #478bfb;
}
  
.bidding__ui__input:checked:after {
  background-color: #478bfb;
}

.bidding__ui__label {
  display: inline-block;
  text-align: center;
  color: var(--gray-600);
  vertical-align: middle;

  position: absolute;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  top: 10px;
  left: 20px;
}

.bidding__ui__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded);
  height: 3rem;
  width: 8rem;
  color: white;
  background-color: var(--blue-600);
  transition: all 0.5s ease-in-out;
}

.bidding__ui__button:disabled {
  opacity: 0.3;
  cursor:not-allowed;
}

.bidding__ui__button:hover {
  background-color: var(--blue-600); /* blue-400 */
}

.bidding__ui__button:focus {
  outline: none;
}

.bidding__message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.bidding__message-foreign {
  flex-direction: row-reverse;
}

.message__indent {
  width: 20rem;
}

.message__datetime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 2.5rem;
  border-radius: 9999px;
  background-color: var(--gray-700);
  box-shadow: var(--shadow-md);
  z-index: 20;
}

.message__time, .message__date {
  font-family: 'Fraunces', serif;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--text-xs);
  color: white;
  font-weight: 600;
}

.message__svg {
  width: 1.5rem;
  height: 1.5rem;
}

.message__step {
  font-size: var(--text-sm);
  color: var(--gray-700);
  font-weight: bold;
}

.message__price {
  font-family: 'Fraunces', serif;
  margin-left: auto;
  font-size: var(--text-2xl);
  color: var(--gray-900);
  font-weight: bold;
}

.message__percent {
  font-family: 'Fraunces', serif;
  margin-left: auto;
  font-size: var(--text-xs);
  color: var(--gray-700);
  font-weight: bold;
}

.message__content {
  width: 20rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-md);
}

.message__content-left {
  background-color: var(--red-400);
}

.message__content-right {
  background-color: var(--green-400);
}

@media(max-width: 1024px) {
  .bidding__messages {
    padding: 0.75rem 2rem;
  }
  .message__indent {
    width: 17rem;
  }
  .message__content {
    width: 17rem;
    padding: 0.75rem 0.5rem;
  }
  .bidding__sidebar__content {
    left: -600px;
    width: 600px;
    padding: 1.25rem 0.5rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    overflow: hidden;
  } 
}

@media(max-width: 440px) {
  html {
    font-size: 12px;
  }
  .bidding__heading {
    flex-direction: column;
    margin-top: 0.5rem;
    padding-left: 0;
    height: 10rem;
  }
  .bidding__heading__left {
    margin-left: 0;
  }
  .countdown {
    position: relative;
    left: initial;
  }
  .grid-bidding {
    height: calc(100vh - 4rem);
    justify-content: space-between;
  }
  .bidding__main {
    height: calc(100vh - 4rem - 10rem - 6rem);
    position: relative;
    top: -6rem;
  }
  .bidding__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6rem;
  }
  .bidding__ui {
    height: 36px;
    margin-right: 0.5rem;
    width: 86px;
  }
  .bidding__ui__label {
    font-size: 1.2rem;
    top: 6px;
    left: 10px;
  }
  .bidding__ui__input::before {
    height: 20px;
    width: 20px;
    right: 8px;
    top: 8px;
  }
  .bidding__ui__input:after {
    top: 11px;
    right: 11px;
  }
  .message__content {
    flex-direction: column;
    align-items: center;
  }
  .message__price {
    margin-left: 0;
  }
  .message__percent {
    margin-left: 0;
  }
  .message__step {
    display: none;
  }
  .bidding__sidebar__title {
    text-align: center;
    margin-bottom: 1rem;
  }
  .bidding__sidebar__content {
    width: 280px;
    left: -280px;
    justify-content: flex-start;
  }
  .details__row {
    padding: 0.5rem 1rem;
  }
  .bidding__alert {
    margin-right: 0;
  }
  .bidding__alert__content {
    padding: 0.25rem;
  }
}