body,
html {
  width: 100%;
  height: 100%;
}

.index {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-size: cover;
}

.index__heading {
  font-size: 4rem;
}

.index__hr {
  width: 50px;
  max-width: 50px;
  border-width: 1px;
  margin-top: -10px;
  border-color: #F05F40;
}

.index__content {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 40px;
}

.index__link {
  color: #F05F40;
  transition: all 0.2s;
  color: white;
  padding: 1rem 1.75rem;
  background-color: #F05F40;
}

.index__link:hover, .index__link:focus, .index__link:active {
  color: #fff;
  background-color: #ee4b28 !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}