body, html {
	height: 100%;
}

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: opacity 0.25s ease;
}

.modal-active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  z-index: 40;
  overflow-x: hidden;
  overflow-y: visible !important;
}

.modal__content {
  background-color: white;
  width: 91.66%; /* w-11/12 */
  margin: 0.5rem auto 0 auto;
  border-radius: var(--rounded);
  box-shadow: var(--shadow-lg);
  z-index: 50;
  overflow-y: auto;
  text-align: left;
  padding: 1.25rem 2rem 2rem 2rem;
}

@media (min-width: 768px) {
  .modal__content {
    max-width: 28rem; /* md:max-w-md  */
  }
}

.modal__heading {
  font-size: var(--text-2xl);
  font-weight: bold;
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
}

.modal__text {
  font-size: var(--text-md);
  font-weight: bold;
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
}

.modal__input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modal__code {
    display: block;
    height: 50px;
    margin-right: 0.5rem;
    text-align: center;
    font-size: 1.25rem;
    min-width: 0;
    border: 2px solid #e0e0e0;
    border-radius: var(--rounded);
}

.modal__code:focus, .modal__code:active {
  border-color: var(--blue-600);
}

.modal__code:last-child {
  margin-right: 0;
}

.modal__button_group {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.modal__button_confirm {
  flex: 1 1 0%;
  padding: 0.75rem 1rem;
  margin-right: 0.5rem;
  border-radius: var(--rounded);
  color: white;
  background-color: var(--blue-600);
}

.modal__button_confirm:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
}

.modal__button_confirm:hover {
  background-color: var(--blue-700);
}

.modal__button_retry {
  padding: 0.75rem 1rem;
  border-radius: var(--rounded);
  background-color: var(--gray-600);
  color: white;
}

.modal__button_retry:hover {
  background-color: var(--gray-700);
}

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background: white;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px black;
  padding: 36px 40px 18px 40px;
}

.login__title {
  font-size: var(--text-2xl);
  font-weight: bold;
  margin-bottom: 1.75rem;
  color: var(--gray-700);
  text-align: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login__formfield__label {
  position: absolute;
  background-color: white;
  color: var(--gray-600);
  margin-top: -0.75rem;
  letter-spacing: 0.05em;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-transform: uppercase;
  font-size: var(--text-xs);
}

.alert {
  position: absolute;
  top: 15rem;
  text-align: center;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;
}

.alert-form {
  position: relative;
  top: 0;
  justify-content: start;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.alert__content {
  display: flex;
  align-items: center;
  color: var(--gray-700);
  padding: 0.5rem;
  line-height: 1;
  border-width: 1px;
  background-color: white;
  border-radius: 9999px;
}

.alert__icon {
  display: flex;
  border-radius: 9999px;
  text-transform: uppercase;
  padding: 0.25rem;
  font-size: var(--text-sm); /* text-xs */
  font-weight: bold;
  margin-right: 0.75rem;
  background-color: rgb(252,211,77); /* yellow-300 */
}

.alert__svg {
  height: 1rem;
  width: 1rem;
}

.alert__text {
  margin-right: 0.5rem;
  text-align: left;
  font-weight: 600;
  flex: 1 1 auto;
}


.login__button {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.2;
  height: 46px;
  background-color: var(--gray-800);
  border-radius: 4px;
  transition: all 0.4s;
}

.login__button:hover, .login__button:focus {
  background-color: #2563eb;
  cursor: pointer;
}

.login__links {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0.5rem 0;
}

.login__link {
  font-size: var(--text-md);
  text-decoration: none;
  color: #666666;
  transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.login__link:hover, .login__link:focus {
  text-decoration: underline;
}

.login__phone-invalid, .login__password-invalid {
  border-color: red;
}

.login__svg {
  height: 1.25rem;
  width: 1.25rem;
}

.login__formfield__input {
  display: block;
  padding: 0.25rem;
  outline: none;
  height: 100%;
  width: 100%;
  color: var(--gray-900);
  font-size: 1rem;
  letter-spacing: 3px;
  flex: 1 1 0%;
  width: 100%;
  background: transparent;
  height: 36px;
}

.reset {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background: white;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px black;
  padding: 30px;
}

.reset__title {
  font-size: var(--text-2xl);
  font-weight: bold;
  margin-bottom: 1.75rem;
  color: #555555;
  text-align: center;
}

.reset__form {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  padding: initial 0.75rem;
}

.reset__formfield {
  position: relative;
  flex: 1 1 0%;
  margin-right: 0.75rem;
  padding: 0.25rem;
  border-radius: var(--rounded);
  transition: all 0.5s;
  border-width: 1px;
}

.reset__formfield:focus-within {
  /* focus-within:border-blue-500 focus-within:text-blue-500 */
}

.reset__label {
  position: absolute;
  background-color: white;
  color: var(--gray-600);
  margin-top: -0.75rem;
  padding: initial 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: .75rem;
}

.reset__input {
  display: block;
  width: 100%;
  padding: 0.25rem;
  outline: none;
  height: 100%;
  letter-spacing: 2px;
  color: var(--gray-900);
}

.reset__button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 1rem;
  padding: 0.25rem 0.5rem;

  font-size: 1.2rem;
  color: #fff;
  line-height: 1.2;

  height: 46px;
  background-color: #333333;
  border-radius: 4px;

  transition: all 0.4s;
}

.reset__button:hover, .reset__button:focus {
  background-color: #2563eb;
  cursor: pointer;
}

.reset__footer {
  text-align: center;
  margin-top: 1rem;
}

.reset__done {
  background: white;
  padding: 2rem;
  border-radius: var(--rounded-md);
}

.reset__done__header {
  margin-bottom: 1.5rem;
  font-size: var(--text-2xl);
  font-weight: bold;
}

.reset__done__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(167,243,208);
  padding: 1.25rem;
  border-radius: var(--rounded);
  border-bottom-width: 2px;
  border-color: rgb(110,231,183);
}

.reset__done__alert {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(209,250,229);
  border-width: 2px;
  border-color: rgb(16,185,129);
  height: 2.5rem;
  width: 2.5rem;
  flex-shrink: 0;
  border-radius: 9999px;
}

.reset__done__svg {
  height: 1.5rem;
  width: 1.5rem;
}

.reset__done__alert__span {
  color: rgb(16,185,129);
}

.reset__done__content {
  color: rgba(6,95,70);
  margin-left: 1rem;
  font-size: var(--text-lg);
  font-weight: 600;
}

.reset__done__footer {
  text-align: center;
  margin-top: 1rem;
}

.reset__done__description {
  font-size: var(--text-sm);
  margin-left: 1rem;
  color: rgb(5,150,105);
}

.signup {
  display: flex;
  flex-direction: column;
  background: rgba(255,255,255,1);
  border-radius: 8px;
  position: relative;
  box-shadow: 0 8px 6px -6px black;
  padding: 40px 55px;
  margin: 0 14px;
}

.signup legend {
  font-size: 1.4rem;
  margin-bottom: 6px;
}

.signup__title {
  font-size: var(--text-2xl);
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #555555;
  text-align: center;
}

.signup__form {
  color: var(--gray-700);
}

.signup__main input {
  letter-spacing: 2px;
}

.signup__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.signup__account, .signup__company {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.signup__account__name {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.signup__formfield, .login__formfield {
  position: relative;
  flex: 1 1 0%;
  margin-bottom: 1.25rem;
  padding: 0.25rem;
  border-radius: var(--rounded);
  transition: all 0.5s;
  border-width: 1px;
  /* focus-within:border-blue-500 focus-within:text-blue-500 */
}

.signup__formfield {
  margin-right: 0.75rem;
}

.signup__formfield:focus-within, .login__formfield:focus-within {
  border-color: var(--blue-600);
  color: var(--blue-600);
}

.signup__formfield-invalid, .login__formfield-invalid {
  border-color: red;
}

.signup__formfield__label {
  position: absolute;
  background-color: white;
  color: var(--gray-600);
  margin-top: -0.75rem;
  letter-spacing: 0.05em;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-transform: uppercase;
  font-size: var(--text-xs);
}

.signup__formfield__input {
  display: block;
  padding: 0.25rem;
  outline: none;
  height: 100%;
  width: 100%;
  color: var(--gray-900);
}

.signup__account__fieldset {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 0.5rem 1rem;
}

.signup__company__fieldset {
  width: 100%;
  padding: 0.5rem 1rem;
}

.signup__company__formfield {
  position: relative;
  padding: 0.25rem;
  margin: 0 0.75rem 0.75rem 0;
  transition: all 0.5s;
  border-radius: var(--rounded);
  border: 1px solid var(--gray-300);
  /* focus-within:border-blue-500 */
}

.signup__company__label {
  position: absolute;
  background-color: white;
  color: var(--gray-600);
  margin-top: -0.75rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: var(--text-xs);
} 

.signup__company__select {
  display: block;
  padding: 0.25rem 0.25rem 0.1rem 0.25rem;
  color: var(--gray-600);
  outline: none;
  width: 100%;
  height: 100%;
  appearance: none;
}

.signup__company__select:focus {
  color: var(--gray-700);
}

.signup__company__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  pointer-events: none;
}

.signup__company__svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.signup__documents__link {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: -0.25rem;
  text-decoration: underline;
}

.signup__documents__label {
  padding: 0.1rem;
  margin-right: 0.75rem;
  color: var(--gray-900);
  outline: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded);
  cursor: pointer;
  border: 1px solid var(--gray-300);
}

.signup__documents__label-invalid {
  border-color: red;
}

.signup__documents__svg {
  width: 1.25rem;
  height: 1.25rem;
}

.signup__documents__span {
  margin-left: 0.5rem;
  padding: 0.25rem;
  color: var(--gray-600);
  font-size: var(--text-sm);
}

.signup__documents__input {
  display: none;
}

.signup__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup__footer__hr {
  margin-bottom: 1rem;
}

.signup__footer__formfield {
  display: flex;
  justify-content: start;
  align-items: center;
}

.signup__footer__checkbox {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  background-color: white;
  border-radius: var(--rounded);
  border: 2px solid var(--gray-300); 
  width: 1rem;
  height: 1rem;
  
  /* focus-within:border-blue-500  */
}

.signup__footer__input {
  position: absolute;
  opacity: 0;
}

.signup__footer__svg {
  width: 0.75rem;
  height: 0.75rem;
  fill: currentColor;
  color: var(--blue-600);
  pointer-events: none;
  display: none;
}

.signup__footer__input:checked + .signup__footer__svg {
  display: block;
}

.signup__footer__text {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.signup__footer__link {
  text-decoration: underline;
}

.signup__footer__login {
  margin-top: 1rem;
}


.signup__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.2;
  height: 46px;
  background-color: #333333;
  border-radius: 4px;
  transition: all 0.4s;
}

.signup__button:hover, .signup__button:focus {
  background-color: #2563eb;
  cursor: pointer;
}

.signup__form > fieldset > input {
  height: 30px;
}

@media(min-width: 640px) {
  .signup__account, .signup__company {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .reset {
    margin: 0 10px;
    padding: 20px 20px;
  }

  .reset__input {
    letter-spacing: 1px;
  }

  .reset__button {
    font-size: 1rem;
  }

  .signup {
    padding: 30px 20px;
  }

}


@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
