.grid-lots, .grid-details, .grid-analysis, .grid-bidding {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.grid-bidding {
  height: 80vh;
}

.tabs {
  margin: 2.5rem auto;
}

.tabs__item {
  appearance: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1.5rem;
  border-bottom-width: 1px;
  /* text-blue-dark */
}

.tabs__item-active {
  --tw-border-opacity: 1;
  border-color: rgba(0,0,0,var(--tw-border-opacity));
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 98%;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.cards__alert {
  margin-top: 3rem;
  padding: 1.5rem;
  box-shadow: var(--shadow-lg);
  border-radius: var(--rounded-md);
  font-size: var(--text-xl);
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgba(253,230,138,var(--tw-bg-opacity));
  width: 17rem;
} 

.card {
  box-sizing: border-box;
  position: relative;
  width: 800px;
  height: 180px;
  padding: 14px 12px 14px 30px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(113.3deg, #535468 0%, #3C3C4C 32.54%, #292935 100%);
  box-shadow: 5px 2px 17px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 5px 2px 17px rgba(0, 0, 0, 0.25), 3px 5px 25px rgba(0, 0, 0, 0.25);
}

.card-finished {
  justify-content: space-between;
}

.card-small {
  align-items: center;
  padding: 14px;
  height: 140px;
  width: 700px;
  background: bottom;
  border: 1px solid rgba(0, 0, 0, 0.1);  
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);  
}

.card-small:hover {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.card__logo {
  cursor: default;
  max-width: 18rem;
  object-fit: contain;
  margin-right: 2rem;
  max-height: 18rem;
}

.card__content  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}

.card__content-started {
  width: 41.6%;
}

.card__content-finished {
  width: 60%;
  padding-left: 1rem;
  opacity: 0.4;
}

.card__title {
  font-size: 18px;
  line-height: 24px;
  color: #EDEDED;
  margin-bottom: 12px;
  cursor: default;
}


.card__online {
  width: 41.6%;
  height: 100%;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.card__online__heading {
  text-align: center;
  color: #f7fafc;
  font-size: var(--text-2xl);
  background-color: crimson;
}

.card__online__data {
  text-align: center;
  color: #f7fafc;
  font-size: var(--text-md)
}

.card__online__data-cta {
  font-size: var(--text-xl)
}

.card__summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-right: 1rem;
  height: 100%;
  width: 40%;
}

.card__summary__heading {
  text-align: center;
  font-size: var(--text-2xl);
  color: var(--gray-100);
  background-color: darkslategray;
}

.card__summary__data {
  color: var(--gray-100);
  font-size: var(--text-xl);
  text-align: center;
  margin-top: 1rem;
}

.card__summary__data:last-child {
  margin-top: 0.25rem;
}

.card__table {
  font-size: 0.7rem;
  margin-right: 30px;
  letter-spacing: 0.1rem;
  color: #C2C2C2;
}

.card__date {
  position: absolute;
  top: -26px;
  left: -30px;
  border-radius: 4px;
  width: 54px;
  height: 58px;
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,.3);
  background-color: rgba(255,255,255,0.6);
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card__date__month {
  margin-top: 8px;
  font-size: 0.85rem;
}

.card__date__day {
  margin-top: -8px;
  font-size: 2rem;
}

.card__table {
  line-height: 1.25;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  cursor: default;
}

.card__table__row {
  background-color: none;
  border-bottom: 1px solid #ddd;
}

.card__table__data {
  padding: 0.3rem;
  text-align: center;
}

.card__table__heading {
  padding: 0.3rem;
  text-align: center;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 500;
}

.card__icons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 12px;
    border-left: 1px solid rgba(255,255,255,0.1);
    min-width: 103px;
}

.card__icons__top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card__icons__top svg {
    margin-right: 6px;
}

.card__icons__middle {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.card__icons__middle svg.clicked {
  fill: #9ae6b4;
}

.card__icons__middle text {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card__icons__middle:hover svg {
    cursor: pointer;
    transform: scale(1.02);
}

.card__icons__bottom {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.card__icons__bottom a {
    text-decoration-line: none;
    color: #F3F3F0;
    padding: 4px 8px;
    font-size: 12px;
    border-bottom: 2px dashed crimson;
}

.card__icons__bottom a:hover {
  border-bottom-style: solid;
}

/* closed-auctions */

.card__online__div-closed {
  display: flex;
  align-items: stretch;
  margin: 1rem auto 0;
}

.card__online__div-disabled {
  opacity: 0.8;
} 

.card__online__input-closed {
  font-size: var(--text-lg);
  font-family: 'Fraunces';
  text-align: center;
  width: 9.75rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  letter-spacing: 0.1rem;
}

.card__online__input-disabled {
  cursor: default;
}

.card__online__button-closed {
  background-color: var(--gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card__online__button-closed-enabled {
  background-color: var(--red-400);
  cursor: pointer;
}

.card__online__button-closed-enabled:hover {
  background-color: rgb(248,93,93);
}

.card__online__input-disabled {
  cursor: default;
}

.card__online__alert {
  color: white;
  font-size: var(--text-lg);
}

/* countdown */

.countdown {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2px 0 6px 0;
  margin: 4px auto;
  color: #f7fafc;
}

.countdown__block {
  margin-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.countdown__block:last-child {
  margin-right: 0;
}

.countdown__title {
  flex: 1 0 100%;
  margin-bottom: 2px;
  font-size: 0.9rem;
  color: white;
  text-align: center;
}

.countdown__number {
  display: flex;
  height: 26px;
  flex: 1 0 auto;
  margin-right: 6px;
  background-color: #fff;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  font-size: 1rem;
  font-weight: bold;
  color: #de4848;
}

.countdown__number:last-child {
  margin-right: 0;
}

/* lot-details */

[x-cloak] {
  display: none;
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.details__infographics {
  display: flex;
  width: 100%;
  align-items: center;
}

.details__content {
  width: 100%;
  background-color: white;
  overflow: hidden;
  border-radius: var(--rounded);
  margin-left: auto;
  margin-right: auto;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  border: 1px solid rgba(0, 0, 0, 0.1);  
}

.details__content__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.details__content__title {
  font-size: var(--text-xl);
  font-weight: 500;
  color: var(--gray-900);
  line-height: 1.5rem;
}

.details__link-analysis {
  display: flex;
  align-items: center;
  border-radius: var(--rounded);
  padding: 0.5rem 1rem;
  color: white;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  background-color: rgba(248,113,113,1);
}

.details__link-analysis:hover {
  box-shadow: var(--shadow-md);
}

.details__link__svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.details__row {
  padding: 1.25rem 1rem;
}

.details__row-odd {
  background-color: rgba(249,250,251,1);
}

.details__row-even {
  background-color: white;
}

.details__row__title {
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--gray-600);
  /* text-gray-500 */
}

.details__row__data {
  font-size: var(--text-sm);
  color: var(--gray-900);
}

.details__documents__list {
  border: 1px solid var(--gray-300);
  border-radius: var(--rounded-md);
}

.details__document {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-sm);
  padding: 0.75rem 1rem 0.75rem 0.75rem;
}

.details__documents__name {
  margin-left: 0.5rem;
}

.details__document__svg {
  flex-shrink: 0;
  height: 1.25rem;
  width: 1.25rem;
  color: var(--gray-400);
}

.details__document__content {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  width: 0;
}

.details__document__name {
  margin-left: 0;
  flex: 1 1 0%;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details__document__link {
  margin-left: 1rem;
  flex-shrink: 0;
  font-weight: 500;
  /* text-indigo-600 hover:text-indigo-500 */
}

/* analysis */

.analysis__plots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem auto; 
  margin-bottom: 2rem;
  width: 100%;
  max-width: 64rem;
}

.analysis__plot {
  padding: 1rem;
  margin: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.analysis__plot-2 {
  width: 48%;
}

.analysis__plot-3 {
  width: 31%;
}

.datatable {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.datatable__ui {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datatable__filter {
  display: flex;
  position: relative;
  border-radius: var(--rounded-lg);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.datatable__filter__button {
  display: inline-flex;
  align-items: center;
  background-color: white;
  border-radius: var(--rounded-lg);
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: var(--gray-600); /* gray-500 */
}

.datatable__filter__button:hover {
  color: var(--blue-600); /* blue-500 */
}

.datatable__filter__button:focus {
  outline: none;
  /* focus:shadow-outline */
}

.datatable__filter__icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.25rem;
}

.datatable__filter__items {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-lg);
  z-index: 40;
  margin-top: 3rem;
  margin-right: -0.25rem;
  display: block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  overflow: hidden;
}

.datatable__filter__item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5rem 1rem;
}

.datatable__filter__item:hover {
  background-color: var(--gray-100);
}

.datatable__filter__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  color: currentColor;
  background-color: #fff;
  border-color: #e2e8f0;
  border-width: 1px;
  border-radius: 0.25rem;
  height: 1.2rem;
  width: 1.2rem;

  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.75rem;
}

.datatable__filter__checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0.75rem;
}

.datatable__filter__checkbox:focus {
  outline: none;
  /* focus:shadow-outline */
}

.datatable__filter__value {
  color: var(--gray-700);
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.datatable__back__link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(248,113,113); /* red-400 */
  border-radius: var(--rounded-lg);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.datatable__back__link:focus, .datatable__back__link:hover {
  outline: none;
  transform: scale(1.05);
  /* focus:shadow-outline */
}

.datatable__back__link-mobile {
  display: none;
}

.datatable__back__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.datatable__content {
  position: relative;
  overflow-x: auto;
  max-width: 100%;
  background-color: white;
  border-radius: var(--rounded-lg);
  height: 405px;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.datatable__table {
  position: relative;
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  table-layout: auto;
  overflow-x: auto;
}

.datatable__table__heading {
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--gray-300); /* gray-200 */ 
  background-color: var(--gray-100);
  padding: 1rem;
  color: var(--gray-600);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--text-sm);
  letter-spacing: .05em;
}

.datatable__column {
  border-top: 1px dashed var(--gray-300); /* gray-200 */
}

.datatable__column__text {
  color: var(--gray-700);
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(min-width: 640px) {    
  .details__row {
      display: grid;
      grid-template-columns: repeat(3,minmax(0,1fr));
      gap: 1rem;
      padding: 1.25rem 1.5rem;
  }
  .details__row__data {
      grid-column: span 2/span 2;
  }
}

@media(max-width: 1024px) {
  .navbar {
    margin-top: 0;
    border-radius: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 40;
  }
  .card {
    margin: 20px auto;
  }
  .card__logo {
    max-width: 42%;
    padding-right: 2rem;
    margin-right: 0;
  }
  .grid-analysis {
    margin: 0 1rem;
  }
  .datatable {
    display: none;
  }
  .details__plot {
    display: none;
  }
  .datatable__back__link-mobile {
    display: block;
    margin-left: auto;
    margin-top: 1rem;
  }
  .datatable__back__icon {
    display: inline-block;
  }
  .analysis__plot {
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  }  
  .analysis__plot-2, .analysis__plot-3 {
    flex: 1 0 100%;
  }
}


@media(max-width: 900px) {
  html {
    font-size: 14px;
  }
  .card {
    width: 90%;
    align-items: flex-start;
    height: fit-content;
  }
  .card__title {
    text-align: center;
    margin-bottom: 8px;
    line-height: 22px;
  }
  .card__online {
    width: 38%;
    justify-content: space-around;
  }
  .card__table__data, .card__table__heading {
    padding: 0.2rem;
  }
  .card__online__data-cta {
    font-size: var(--text-md);
  }
  .card__content-started {
    width: 44%;
  }
  .card__logo {
    display: none;
  }
  .card__online__heading {
    font-size: var(--font-xl);
  }
  .countdown__block {
    margin-right: 8px;
  }
  .countdown__number {
    font-size: 0.8rem;
    margin-right: 4px;
    height: 18px;
  }
  .card__icons {
    justify-content: center;
    margin-top: 4px;
  }
  .card__icons__top {
    margin-bottom: 24px;
  }
  .card-closed .card__icons__top {
    margin-bottom: 10px;
  }
  .card__icons__top svg {
    width: 18px;
    height: 18px;
  }
  .card__icons__middle {
    margin-top: 0;
  }
  .card__icons__middle svg {
    width: 36px;
    height: 36px;
  }
}

@media(max-width: 640px) {
  html {
    font-size: 13px;
  }

  .card {
    padding: 1.5rem 1rem;
  }
  .card__online {
    padding-right: 0.5rem;
  }
  .card__online__alert {
    font-size: var(--text-md);
  }
  .card__online__div-closed {
    margin: 0.25rem auto 0;
  }
  .card__table {
    font-size: 0.6rem;
  }
  .card__content {
    margin-right: 0.5rem;
  }
  .card__content-started {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .card__icons {
    min-width: fit-content;
  }
  .card__online__input-closed {
    width: 9rem;
    font-size: var(--text-md);
    letter-spacing: 0.05rem;
  }
  .grid-analysis {
    margin: 0 1rem;
  }
  .details__content {
    width: 96%;
  }
  .details__content__heading {
    padding: 1rem 0.75rem;
  }
  .card__logo {
    max-width: 7rem;
    object-fit: contain;
    margin-right: 1rem;
    max-height: 7rem;  
  }
  .analysis__plot {
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  }  
  .analysis__plot-2, .analysis__plot-3 {
    flex: 1 0 100%;
  }
}

@media(max-width: 580px) {
  .cards {
    height: 80vh;
  }
  .card {
    width: 94%;
  }
  .card__date {
    top: -7px;
    left: -5px; 
  }
}

@media(max-width: 440px) {
  .card {
    flex-wrap: wrap;
    padding: 1rem;
  }
  .card__online {
    height: 9rem;
    width: 46%;
    padding-right: 0;
  }
  .card__content-started {
    height: fit-content;
  }
  .card__title {
    font-size: 14px;
  }
  .card__icons {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 0;
    margin-top: 14px;
    padding-left: 0;
    padding-top: 8px;
    border-top: 1px solid var(--gray-800);
  }
  .card__icons__top {
    width: fit-content;
    margin-bottom: 0;
  }
  div[aria-label="Аукцион закрытых предложений"] {
    display: none;
  }
  .card-closed .card__icons__top {
    margin-bottom: 0;
  }
}


@media(max-width: 360px) {
  html {
    font-size: 12px;
  }
  .card {
    padding: 0.75rem;
  }
  .card__date {
    width: 50px;
    height: 52px;
  }
  .card__online {
    width: 44%;
  }
  .card__table__heading {
    font-size: 0.5rem;
  }
  .countdown__block {
    margin-right: 4px;
  }
  .countdown__number {
    margin-right: 2px;
    font-size: 0.7rem;
  }
  .card__online__input-closed {
    width: 100%;
    letter-spacing: normal;
  }
}