@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.container {
  font-family: 'Montserrat', sans-serif;
  background: rgba(255,255,255,0.95);
  border-radius: 4px;
  margin: 8vh auto;
  padding: 12px 24px;
}

.card-auction-content {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

table {
  line-height: 1.25;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: none;
  border-bottom: 1px solid #ddd;
  padding: .35em;
}

table th, table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.form-row>.col, .form-row>[class*=col-] {
  padding: 20px;
}

.form-group {
    margin-bottom: 0;
}

/* check-cards */

.documents-container {
    display: flex;
}

.documents-container legend {
    font-size: 1rem;
}

.checkcard {
    margin-right: 5px;
}

.checkcard i {
    opacity: 0;
}

.checkcard input {
    display: none;
}

.checkcard input:checked + label {
    border: 1px solid #007bff;
}

.checkcard input:checked + label i {
    opacity: 1;
    color: #007bff;
}

.checkcard label {
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: center;
    background: white;
    cursor: pointer;
    transition: box-shadow .15s linear, transform .15s linear;
  }
  .checkcard label:hover {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow .15s linear, transform .15s linear;
    -webkit-transform: scale(1.005);
    -moz-transform: scale(1.005);
    -ms-transform: scale(1.005);
    -o-transform: scale(1.005);
    transform: scale(1.005);
  }
  .checkcard span.spec {
    display: block;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 10px;
  }
  .checkcard  h2 {
    font-size: 16px;
  }
  