{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="online debt auction" />
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <title>Delay. {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Cormorant:wght@500&display=swap" /> 
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Bitter:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/css/_base.css' %}" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    {% block content %}{% endblock content %}
    <script src="https://unpkg.com/imask"></script>
    <script src="{% static 'js/_base.js' %}" type="text/javascript"></script>
    {% block javascript %}{% endblock javascript %}
  </body>
</html>