{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block head %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="index">
  <h1 class="index__heading">DELAY</h1>
  <hr class="index__hr">
  <p class="index__content">АУКЦИОН ДОЛГОВ</p>
  <a class="index__link" href="{% url 'users:login' %}">Личный кабинет</a>
</div>
{% endblock content %}