{% extends "base.html" %}
{% load static %}

{% block title %} 404 {% endblock title %}
{% block head %}{% endblock head %}

{% block content %}
<div class="limiter">
<div class="error" id="error-wrapper">
    <div class="error__heading">Ошибка</div>
    <div class="error__content">
        <svg class="error__svg" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        <div class="error__text">Страница не найдена</div>
        <a class="error__link" href={% url 'lots:relevant' %}>Вернуться на главную страницу</a>
    </div>
</div>
</div>
{% endblock content %}
